
#main-content > #message-container {
    display: flex;
    flex-direction: row;
    height: 100%;   
}

#user-list {
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 40%;
    max-width: 40%;
    min-width: 40%;

    border-right: solid 1px #000;
}

#user-list > a {
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
}

.user {
    display: flex;
    flex-direction: row;
}

.user > .user-pfp-container {
    display: flex;
    flex-direction: row;

    align-items: flex-end;
}

.user-pfp-container > .user-pfp {
    height: 3.5em;
    object-fit: contain;
    border-radius: 50%;
}

.user-pfp-container > .user-platform-icon {
    position: relative;
    left: -1.5em;

    height: 1.5em;
    object-fit: contain;
    border-radius: 50%;
}

.user > .text-container {
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.text-container > * {
    margin: 0;
}

.text-container > .text-last-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#messages {
    display: flex;
    flex-direction: column-reverse;
    
    width: 100%;
    overflow-y: visible;
}